p, .checkline {
    font-family: "poppins";
    font-weight: 400;
}


ul {
    display: inline
    font-family: "poppins";
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 44px;
}

h3  {
    font-family: "Poppins", serif;
    font-size: 36px;
    font-weight: 600;
}

h5  {
    font-family: "Poppins", serif;
    font-size: 22px;
    font-weight: 600;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }

  a:link {
    color:  #FF9900;;
    font-family: "Poppins", serif;
    font-size: 16;
    font-weight: 600;
    font-style: normal;
}

section {
    display: flex;
    justify-content: left;
    margin-left: 145px;
    width: 100vh;
}

nav {
display: inline

}

.links {
    display: inline;
    justify-content: end;
}


.icons {
    width: 240px;
    display: flex;
align-content: column

}

.group {
    width: 100vh;
   display: flexbox;
   justify-content: space-around;
   align-content: column;
}
    

 button {
    height: 53px;
    width: 175px;
    background-color: #FF9900;
    color: white;   
    font-family: "Poppins", serif;
    font-size: 16;
    font-weight: 600;
    font-style: normal;
    border: none;
    border-radius: 4px;
    margin: 20px;
}

.button__smallwhite {
    height: 46px;
    width: 110px;
    background-color: white;
    color: #FF9900;
    border: 2px solid#FF9900
}

.tickbox {
    display: inline;
    margin-right: 10px;
}


.button__smallorange {
    height: 46px;
    width: 110px;
    font-size: 14px;
    background-color:#FF9900;
    color: white;    
}

.button:hover {
    background-color: #b84700;
    color: white;
    transform: scale(1.1);

}

.endfooter {
    display: flexbox;
    justify-content: center;
    font-family: "poppins";
    font-weight: 400;

}

.checkline {
    display: flexbox;
align-content: center;
flex-direction: row;
margin-right: 10 px;
}

.list {
    display: flexbox;
    align-content: column;
}